* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: '맑은 고딕';
    line-height: 1.1;
}

h1.deletezone {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
}

table {
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    border: 1px dotted #ccc;
    font-size: 1rem;
    height: 65px;
    width: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

th {
    border: 1px dotted #ccc;
    font-size: 1rem;
    height: 30px;
    width: 40px;
}

select {
    font-size: 0.8rem;
}

#week-toggle {
    text-align:center;
    padding:5px;
}

#week-toggle label {
    padding-left: 5px;
    padding-right: 10px;
}

#table-header {
    text-align: center;
    margin-bottom: 5px;
}

#table-header select {
    height: 23px;
    font-size: 1rem;
}

#table-header>div {
    display: inline;
}

#lect-area {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    border-top: 1px #aaa dashed;
    padding-bottom: 10px;
}

#lect-area>h2 {
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 5px;
}

#lect-area>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.lect-container {
    width: 50px;
    min-width: 50px;
    height: 50px;
    padding: 7px;
}

.lect {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.9rem;
    cursor: grab;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.deletezone {
    background-color: white;
}

div.dropzone {
    width: 100%;
    height: 60px;
}

div.dropzone .lect {
    width: 95%;
    height: 95%;
}

#buttons {
    text-align: center;
    padding: 10px;
}

#buttons button {
    width: 100px;
    height: 30px;
}

footer {
    width: 100%;
}

.dept1 {
    background-color: #fdedec;
}

.dept2 {
    background-color: #f4ecf7;
}

.dept3 {
    background-color: #ebf5fb;
}

.dept4 {
    background-color: #fdf2e9;
}

.grade1 {
    background-color: #FDEDEC;
}

.grade2 {
    background-color: #EAECEE;
}

.grade3 {
    background-color: #FDEDEC;
}

.grade4 {
    background-color: #EAECEE;
}

.sun, .mon, .tue, .wed, .thr, .fri, .sat {
    overflow: hidden;
}

#modal {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-password {
    width: 400px;
    height: 0;
    overflow: hidden;
    background-color: white;
    background-color: ivory;
    border: 0px solid orangered;
}

#save-password>div {
    text-align: center;
    margin: 10px;
}

#save-password div {
    font-size: 1.2rem;
}

#save-password input {
    width: 200px;
    height: 20px;
}

#save-password button {
    width: 50px;
    height: 24px;
}